
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    /* display: flex;
    flex-direction: column; */
    max-width: 540px;

}

.form__input-box__input {
    width: 100%;
    height: 40px;
    background: #ffffff00;
    border: 1px solid #BCBEC0;
    border-radius: 5px;
    padding: 0px 40px 0px 28px;
}

.form__input-box__input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #BCBEC0;
}

.form__input-box__textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form__input-box__textarea {
    resize: none;
    overflow: hidden;
}

.content__btn-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}

.button {
    margin-top: 20px;
    background-color: hsl(246 63% 45%);
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: hsl(246 63% 90%);
    font-family: 'Roboto';
    font-size: 16px;
    text-transform: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.button:hover {
    background-color: hsl(246 63% 50%);
    color: hsl(246 63% 95%);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
    transition: all 0.1s ease-in-out;
}

.button:active {
    background-color: hsl(246 63% 50%);
    color: hsl(246 63% 95%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: all 0.1s ease-in-out;
}

.button:disabled, .button:hover:disabled {
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
    background-color: hsl(246 63% 45%);
    color: hsl(246 63% 90%);
    transform: translateY(0);
}
