:root {
    --card-color: hsl(28 68% 26%);
    --card-text-color: hsl(28 100% 85%);
    --map-card-color: hsl(28 64% 32%);
     --map-card-text-color: hsl(28 64% 32%);
    --map-card-color-hover: hsl(28 65% 36%);
    --map-card-text-color-hover: hsl(23 52% 60%);
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: calc(100dvh - 620px); 
    height: 400px; */
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--card-color);
    color: var(--card-text-color);
    position: relative;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.card__content__text {
    color: var(--card-text-color);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.card__content__map {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.map {
    width: 100%;
    height: 100%;
}


.startcard {
    border-radius: 12px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: var(--map-card-color);
    transition: all 0.4s ease-in-out;
}

.startcard:hover {
    background-color: var(--map-card-color-hover);  
    cursor: pointer; 
}

.startcard:hover .startcard__content__descr {
    color: var(--map-card-text-color-hover);
}

.nodevices:hover {
    background-color: var(--map-card-color);  
    cursor: default; 
}

.nodevices:hover .startcard__content__descr {
    color: var(--map-card-color);
}

.startcard__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.4s ease-in-out;

}

.startcard__content__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 84px;
    width: 84px;
}

.startcard__content__text {
    text-align: center;
}

.startcard__content__descr {
    text-align: center;
    color: var(--map-card-color);
    transition: all 0.4s ease-in-out;
}