@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Poboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    justify-content: start;
    flex-direction: row;
    height: calc(100dvh - 360px);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(215, 172, 107);
    position: relative;
}

.card__content {
    
}

.card__content__text {
    
}