@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Poboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5a48df;
    
    /* background: radial-gradient(58.43% 103.88% at 56.74% 50%, #0085FF 0%, #003465 100%); */
}

.content {
    display: block;
    position: relative;
    width: 540px;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(110, 208, 226, 0.28);
    backdrop-filter: blur(9px);
}

.logo {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 28px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.label {
    margin-block: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.form {
    padding-bottom: 14px;
}

.form__label {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    display: flex;
    color: #FFFFFF;
    margin-top: 4px;
    margin-bottom: 2px;
}

.form__input-box {
    display: flex;
    flex-direction: row;
    position: relative;
}

.form__input-box__input {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BCBEC0;
    border-radius: 5px;
    padding: 0px 40px 0px 28px;
}

.form__input-box__input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #BCBEC0;
}

.form__input-box__icon {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 8px;
    right: 8px;
    color: #9aa6b3;
}

.icon {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.form__error {
    padding: 2px;
    color: #f39494;
    line-height: 16px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.show {
    opacity: 1;
    visibility: visible;
}

.button {
    margin-top: 20px;
    background-color: hsl(246 63% 45%);
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: hsl(246 63% 90%);
    font-family: 'Roboto';
    font-size: 16px;
    text-transform: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.button:hover {
    background-color: hsl(246 63% 50%);
    color: hsl(246 63% 95%);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
    transition: all 0.1s ease-in-out;
}

.button:active {
    background-color: hsl(246 63% 50%);
    color: hsl(246 63% 95%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: all 0.1s ease-in-out;
}

.button:disabled, .button:hover:disabled {
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
    background-color: hsl(246 63% 45%);
    color: hsl(246 63% 90%);
    transform: translateY(0);
}