:root {
    --login-content-border-color: hsl(0 100% 82% / 0.175);
    --login-content-box-shadow-color: hsl(202 94% 75% / 0.5);
    --login-label-color: hsl(0 100% 85%);
    --login-form-label-color: hsl(0 100% 85% / 0.8);
    --login-input-color: hsl(0 100% 85% / 0.4);
    --login-input-color-hover: hsl(0 100% 85% / 0.6);
    --login-error-color:hsl(0 100% 33%);

    --login-button-color: hsl(246 63% 45%);
    --login-button-text-color: hsl(246 63% 90%);
    --login-button-color-hover: hsl(246 63% 50%);
    --login-button-text-color-hover: hsl(246 63% 95%);

}

.container {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../images/img5.jpg') no-repeat center / cover;
}

.content {
    display: block;
    position: relative;
    width: 540px;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    border: 3px solid var(--login-content-border-color);
    box-shadow: 0px 0px 10px var(--login-content-box-shadow-color);
    backdrop-filter: blur(12px);
}

.logo {
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    color: var(--login-label-color);
    cursor: pointer;
}

.label {
    margin-block: 12px;
    margin-inline: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--login-label-color);
}

.form__label {
    font-weight: 100;
    font-size: 14px;
    display: flex;
    color: var(--login-form-label-color);
    margin: 4px 8px 2px;
}

.form__input-box {
    display: flex;
    flex-direction: row;
    position: relative;
}

.form__input-box__input {
    width: 100%;
    height: 40px;
    background: hsl(0 0% 100% / 0);
    border: 2px solid var(--login-input-color);
    border-radius: 8px;
    padding: 0px 40px 0px 8px;
    color: var(--login-input-color);
}

.form__input-box__input::placeholder {
    font-weight: 100;
    font-size: 14px;
    color: var(--login-input-color);
}

.form__input-box__input:focus-visible {
    border: 2px solid var(--login-input-color);
    outline: 1px solid var(--login-form-label-color);
    font-weight: 100;
    font-size: 14px;
    color: var(--login-label-color);
}

.form__input-box__icon {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--login-input-color);
}

.form__input-box__icon:hover {
    color: var(--login-input-color-hover);
}

.icon {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.form__error {
    padding: 2px;
    color: var(--login-error-color);
    line-height: 16px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.show {
    opacity: 1;
    visibility: visible;
}

.button {
    margin-top: 20px;
    background-color: var(--login-button-color);
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: var(--login-button-text-color);
    font-size: 16px;
    text-transform: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.button:hover {
    background-color: var(--login-button-color-hover);
    color: var(--login-button-text-color-hover);
    box-shadow: 0 8px 10px hsl(0 0% 0% / 0.1);
    transform: translateY(-1px);
    transition: all 0.1s ease-in-out;
}

.button:active {
    background-color: var(--login-button-color-hover);
    color: var(--login-button-text-color-hover);
    box-shadow: 0 1px 1px hsl(0 0% 0% / 0.1);
    transform: translateY(0);
    transition: all 0.1s ease-in-out;
}

.button:disabled, .button:hover:disabled {
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
    background-color: var(--login-button-color);
    color: var(--login-button-text-color);
    transform: translateY(0);
}
