@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Poboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container1 {
    min-height: calc(100dvh - 160px);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    background-color: #5a48df;
    
}

.content1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    flex-direction: row;
    width: 1440px;
    padding-inline: 20px;
    position: relative;
}

.nav-devices1 {
    display: block;
    height: calc(100dvh - 200px);
    background-color: #1b0505;
    position: sticky;
    margin: 20px 20px 20px 0 ;
    top: 20px;
    left: 0px;
}
.test1 {
    height: 400px;
    background-color: red;
}