:root {
    --device-page-color: hsl(260 60% 14%);
}

.container {
    min-height: calc(100dvh - 160px);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    background-color: var(--device-page-color);
    
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    flex-direction: row;
    width: 1440px;
    padding-inline: 20px;
    position: relative;
}

.nav-devices {
    display: block;
    max-height: calc(100dvh - 120px);
    position: sticky;
    margin-block: 20px;
    top: 20px;
    left: 0px;
}

.card {
    margin: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
