:root {
    --card-color: hsl(28 68% 26%);
    --card-text-color: hsl(28 100% 85%);
    --card-menu-color: hsl(246 49% 27%);
    --card-menu-item-color: hsl(246 43% 54% / 0.6);
}

.card {
    display: flex;
    flex-direction:column;
    min-height: calc(100dvh - 200px);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--card-color);
    color: var(--card-text-color);
    position: relative;

}

.info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 24px;
    position: relative;
}

.info__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info__text__name {
    font-size: 28px;
    font-weight: 700;
}

.info__text__descr {
    font-size: 16px;
    font-weight: 400;
}

.info__text__coordinates {
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-weight: 100;
}

.info__menu-box {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: 10;
}

.menu {
    display: flex;
    flex-direction:column;
    justify-content: start;
    border-radius: 10px;
    background-color:var(--card-menu-color);
    position: relative;
}

.menu__btnbox {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.menu__button {
    border-radius: 10px;
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: hsl(0 0% 100% / 0);
    border: none;
    transition: width 0.3s ease;
}

.icon {
    width: 28px;
    height: 28px;
    color: var(--card-text-color);
}

.sensors-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.editMenu {
    top: 100%;
    background-color: hsl(0 0% 100% / 0);
    z-index: 10;
}

.editMenu ul {
    list-style: none;
    margin-bottom: 10px;
}

.editMenu li {
    padding: 8px 12px;
    cursor: pointer;
}

.editMenu li:hover {
    background-color: var(--card-menu-item-color);
}

