@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Poboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction:column;
    min-height: calc(100dvh - 200px);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color:blanchedalmond;
    position: relative;

}

.info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 60px;
    position: relative;
}

.info__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info__text__name {
    font-size: 28px;
    font-weight: 700;
}

.info__text__descr {
    font-size: 16px;
    font-weight: 400;
}

.info__menu-box {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: 10;
}

.menu {
    display: flex;
    flex-direction:column;
    justify-content: start;
    border-radius: 10px;
    background-color: #7076ed;
    position: relative;
}

.menu__btnbox {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.menu__button {
    border-radius: 10px;
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #3f47e600;
    border: none;
    transition: width 0.3s ease;
}

.icon {
    width: 24px;
    height: 24px;
}

.sensors-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.editMenu {
    top: 100%;
    background-color: rgba(255, 255, 255, 0);z-index: 10;
}

.editMenu ul {
    list-style: none;
    margin-bottom: 10px;
}

.editMenu li {
    padding: 8px 12px;
    cursor: pointer;
}

.editMenu li:hover {
    background-color: #f0f0f0;
}

