
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120vh;
  background: radial-gradient(58.43% 103.88% at 56.74% 50%, #0085FF 0%, #003465 100%);
}


