
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(58.43% 103.88% at 56.74% 50%, #0085FF 0%, #003465 100%);
}


